<div class="article">
  <div class="article-header">
    <%= cl_image_tag @post.media.key %>
    <%#= image_tag(@post.media) %>
    <h1><%= raw @post.title %></h1>
    <p class="article-date text-center"><%= @post.created_at.strftime('%b %d, %Y') %></p>
  </div>

  <div class="article-body">
    <p><%= raw @post.body %></p>
  </div>
</div>
