.navbar .active {
  color: #fe504f;
}

.navbar ul {
  padding-left: 0;
  text-align: center;
}

.navbar li {
  font-family: 'Karma', serif;
  font-size: 16px;
  font-weight: lighter;
  display: inline-block;
  padding: 20px 15px;
}

.navbar a {
  color: #272B2F;
  text-decoration: none;
}

.navbar a:hover {
  color: #6e2142;
}
